<!DOCTYPE html>
<html lang="en">
 <head>
  <%- include("../setups/head") %>
 </head>
 <body>
  <div class="container">
   <div class="row">
    <div class="col-md-6 offset-md-3">
     <h2
      class="text-center text-dark mt-5"
     >
      Register Fren
     </h2>
     <div
      class="text-center mb-5 text-dark"
     >
      Don't put good password for this
      app, we don't provide good scurity
      here :v
     </div>

     <div class="card my-5">
      <form
       class="card-body p-lg-5"
       action=""
       method="POST"
      >
       <div class="mb-3">
        <input
         type="email"
         class="form-control"
         id="email"
         aria-describedby="emailHelp"
         placeholder="Email"
        />
       </div>
       <div class="mb-3">
        <input
         type="password"
         class="form-control"
         id="password"
         placeholder="password"
        />
       </div>
       <div class="mb-3">
        <input
         type="file"
         class="form-control"
         id="image"
         accept="image/*"
         placeholder="Choose Image"
        />
       </div>
       <div class="text-center">
        <button
         type="submit"
         class="btn btn-color px-5 mb-5 w-100"
        >
         Register
        </button>
       </div>
       <div
        id="emailHelp"
        class="form-text text-center mb-5 text-dark"
       >
        Have Account?
        <a
         href="/login"
         class="text-dark fw-bold"
        >
         Login</a
        >
       </div>
      </form>
     </div>
    </div>
   </div>
  </div>

  <%- include("../setups/script") %>
 </body>
</html>
